<div class="elements-list-container">
    <p class="list-title" *ngIf="listTitle">{{listTitle}}</p>
    <ul class="elements-list">
        <li class="single-element" *ngFor="let element of elementsList">
            <p class="single-element-title">{{getElementTitle(element)}}</p>
            <div class="list-button" *ngIf="showFirstButton" (click)="onFirstButtonClickHandler(element)">{{firstButtonText}}</div>
            <input type="number" *ngIf="shouldShowInput">
            <div class="list-button" *ngIf="showSecondButton" (click)="onSecondButtonClickHandler(element)">{{secondButtonText}}</div>
        </li>
    </ul>
</div>