<div class="orders-container">
    <div class="new-order-creation">
        <div class="create-order" (click)="createNewOrder()">New order</div>
    </div>
    <div class="orders-lists">
        <div class="orders-in-progress">
            <p class="list-title">ORDERS IN PROGRESS</p>
            <ul class="created-orders">
                <li class="order-element" *ngFor="let order of ordersService.getCreatedOrders()">
                    <p class="order-title">{{getDateToDisplay(order)}} {{order.id}} {{order.customTitle}}</p>
                    <div class="action-buttons">
                        <div class="list-button confirm-arrival" (click)="confirmOrderArrival(order)">Set as done</div>
                        <div class="list-button show-details" (click)="showDetailsPanel(order)">Details</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="orders-history">
            <p class="list-title">ORDERS HISTORY</p>
            <ul class="orders-history-list">
                <li class="order-element" *ngFor="let order of ordersService.getOrdersHistory()">
                    <p class="order-title">{{getDateToDisplay(order)}} {{order.id}} {{order.customTitle}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>