.orders-container {
    display: flex;
    flex-direction: column;
}

.orders-lists {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.order-title {
    display: flex;
    flex-grow: 1;
}

.action-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.created-orders, .orders-history-list {
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 1px solid #000;
    overflow-y: scroll;
}

.order-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
}

.order-element:nth-child(even) {
    background-color: rgba(128,128,128,.1);
}

.order-element:hover {
    background: rgb(49, 49, 49);
}

.create-order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 140px;
    min-width: 120px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
    font-weight: bold;
    color: #FFF;
    background: rgb(0, 138, 7);
    border-radius: 20px;
}

.create-order:hover {
    background: rgb(0, 170, 9);
}